main {
    width: 100%;
}

section {
    padding: 0 25%;
    line-height: 150%;
    font-size: 17px;
}

div {
    text-align: center;
    font-size: 25px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 150px;
    background: #eee;
}

.relative {
    position: relative;
    padding: 10px 0 100px 0;
    background: #eee;
}

.absolute {
    padding: 30px;
    position: absolute;
    bottom: 0;
    right: -30px;
    background: #999;
}